<md-card ng-style="{color: cardCtrl.textcolor, 'background-color': cardCtrl.background }">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">                          
                <md-icon md-font-set="md" ng-style="{color: cardCtrl.textcolor}">{{cardCtrl.icon}}</md-icon>
                {{cardCtrl.title}}
            </span>
            <span class="md-subhead">{{cardCtrl.message}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <span class="md-headline">{{cardCtrl.description}}</span>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="cardCtrl.add(cardCtrl.title)">
            <md-icon md-font-set="md" ng-style="{color: cardCtrl.textcolor}">favorite</md-icon>
        </md-button>
    </md-card-actions>
</md-card>